[submodule "opcua_impl_freeopcua/freeopcua"]
	path = opcua_impl_freeopcua/freeopcua
	url = git@github.com:iirob/freeopcua.git
[submodule "opcua_impl_open62541/open62541"]
	path = opcua_impl_open62541/open62541
	url = git@github.com:acplt/open62541.git
[submodule "opcua_impl_python_opcua/python-opcua"]
	path = opcua_impl_python_opcua/python-opcua
	url = https://github.com/FreeOpcUa/python-opcua.git
